@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


//FONT FAMILY
$main-font: 'Poppins', sans-serif;

// COLORS
$main-color: #121212;
$accent: linear-gradient(263.55deg, rgb(153, 51, 255) -5.88%, rgb(97, 87, 255) 194.65%);
$white: #fafafa;